.description-page {
  margin-bottom: 70px;
  .top-links {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    cursor: pointer;
    text-decoration: none ;
    img {
      height: 22px;
      margin-left: -30px;
      margin-right: 15px;
    }
  }
  .back-link {
    font-size: 20px;
    color: #2bb673;
    display: block;
    &:hover {
      color: #000;
    }

  }
  .more-link {
    font-size: 12px;
    color: #737882;
    &:hover {
      color: #000;
    }
  }
  .description-image {
    width: 100%;
  }
  .company-logo {
    height: 29px;
    margin-top: 30px;
  }
  .description-title {
    font-weight: bold;
    margin-top: -10px;
  }
  .description-text {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .list-kinds {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    white-space: nowrap;
    span {
      color: #fff;
      padding: 3px 13px;
      margin-right: 7px;
      border-radius: 15px;

      font-size: 12px;
    }
  }
  .purple span {
    background: #9e43e3;
  }
  .blue span {
    background: #2689fb;
  }
}