.grey-background-wrapper {
  background: #eaecef;
  .blue-wrapper {
    background: #2689fb;
    width: 100%;
    color: #fff;
    padding: 12px 50px;
    h3 {
      font-weight: bold;
    }
  }
  .non-public-image {
    width: 100%;
    margin-top: -13px;
  }
  .main-wrapper {
    margin: 100px 0;
  }
}