.header {
  background: #EC6A5C;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 100;
  .header-logo {
    height: 45px;
  }
  .navbar-light {
    .navbar-toggler {
      border: none;
      outline: none;
    }
    .navbar-nav {

      .nav-link {
        color: #fff;
        &:hover {
          color: #6E7783;
        }
      }
    }
  }

}