.footer-page {
  width: 100%;
  margin-top: 30px;
  .top-button {
    height:48px;
    width: 48px;
    background: #2bb673;
    border-radius: 50%;
    float: right;
    position: relative;
    cursor: pointer;
    img {
      height: 21px;
      width: 18px;
      position: absolute;
      top:12px;
      left:14px;
    }
    &:hover {
      background: #73bd99;
    }
  }
  .copyright-mark {
    color: #2bb673;
    cursor: pointer;
    font-weight: bold;
    &:hover {
      color: #000;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      a {
        font-size: 12px;
        color: #737882;
        &:hover {
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
}

